
<h1 class="animated fadeIn fast">Sobre Comica</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet repellendus adipisci dolor incidunt exercitationem repellat voluptates voluptatibus illo sit? Aspernatur laborum veniam, adipisci qui reiciendis consequuntur nostrum fugit perferendis a.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, minus, repudiandae error animi mollitia libero aut, sed iste magnam tempore exercitationem vero nostrum? Placeat quam dolor quos minima maiores unde.
</p>